<a href="https://colab.research.google.com/github/ihsanahsanuamala/AboutMe/blob/master/Data_Analysis_Competition_PRS_ITS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Import Library yang Dibutuhkan

In [1]:
import pandas as pd
import numpy as np

### Baca dan Analisa Data

In [5]:
# read csv file using pandas where stored in my github 
df_train= pd.read_csv('https://raw.githubusercontent.com/FarhanLhant/lomba_dataset/master/Train.csv', index_col=0)

In [6]:
df_train = df_train.drop(['id', 'time_date', 'buying_date', 'dealing_date'], axis=1)

KeyError: ignored

In [4]:
df_train.head()

        time_date  site  continent_id  ...  regency_market   cnt  regency_cluster
0  8/11/2014 7:46     2             3  ...              50   628                1
1  8/11/2014 8:22     2             3  ...              50   628                1
2  8/11/2014 8:24     2             3  ...              50   628                1
3  8/9/2014 18:05     2             3  ...              50  1457               80
4  8/9/2014 18:08     2             3  ...              50  1457               21

[5 rows x 24 columns]

In [ ]:
# df_train['site'].value_counts()
df_train.shape

(21018, 18)